	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/08/2020 17:47
  	*/


@font-face {
    font-family: 'Flaticon';
    src: url('Flaticon.eot') format('embedded-opentype'), url('Flaticon.ttf') format('truetype'), url('Flaticon.woff') format('woff'), url('Flaticon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;

}

.flaticon-user:before { content: "\f100"; }
.flaticon-user-1:before { content: "\f101"; }
.flaticon-file:before { content: "\f102"; }
.flaticon-contract:before { content: "\f103"; }
.flaticon-certificate:before { content: "\f104"; }
.flaticon-insurance:before { content: "\f105"; }
.flaticon-guarantee:before { content: "\f106"; }
.flaticon-document:before { content: "\f107"; }
.flaticon-financial-statement:before { content: "\f108"; }
.flaticon-bars:before { content: "\f109"; }
.flaticon-invoice:before { content: "\f10a"; }
.flaticon-invoice-1:before { content: "\f10b"; }
.flaticon-receipt:before { content: "\f10c"; }
.flaticon-financial:before { content: "\f10d"; }
.flaticon-invoice-2:before { content: "\f10e"; }
.flaticon-headphones:before { content: "\f10f"; }
.flaticon-unauthorized-person:before { content: "\f110"; }
.flaticon-worker:before { content: "\f111"; }
.flaticon-work-team:before { content: "\f112"; }
.flaticon-management:before { content: "\f113"; }
.flaticon-personal-data:before { content: "\f114"; }
.flaticon-settings:before { content: "\f115"; }
.flaticon-settings-1:before { content: "\f116"; }