/*body.vertical-layout.vertical-menu-modern .main-menu .navigation > li.navitemactive > a i {
    color: #333 !important;
    background-color: #39da8a00;
}
body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i {
    margin-right: 6px;
}*/