@import url('../../../app-assets/fonts/flaticon.css');

.header-navbar .navbar-wrapper {
    width: 100%;
    background: #fff;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(25, 42, 70, 0.13) -14px 1px 5px 0px;
}

body.vertical-layout.vertical-menu-modern .main-menu {
    border-right: 1px solid #DFE3E7;
    background: #fff;
}


.main-menu.menu-light .navigation {
    background: #41a025 !important;
}

    .main-menu.menu-light .navigation li a {
        color: #fff;
    }

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    color: #fff;
}

.main-menu.menu-light .navigation > li.nav-item.open.has-sub.open, .main-menu.menu-light .navigation > li.nav-item.open.has-sub.sidebar-group-active, .main-menu.menu-light .navigation > li.nav-item.sidebar-group-active.has-sub.open, .main-menu.menu-light .navigation > li.nav-item.sidebar-group-active.has-sub.sidebar-group-active {
    color: #333;
}

.main-menu.menu-light .navigation > li {
    margin: 0px 1rem;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

    .main-menu.menu-light .navigation > li.nav-item.open.has-sub.open a {
        color: #666;
    }

.primary {
    color: #fab42e !important;
}

.main-menu.menu-light .navigation > li.nav-item > a i {
    color: #fff !important;
}

.main-menu.menu-light .navigation > li.nav-item.sidebar-group-active > a i {
}

.menu-collapsed-open li > a i {
    color: #fff !important;
}

.main-menu.menu-light .navigation > li.nav-item.open > a i, .main-menu.menu-light .navigation > li.nav-item.sidebar-group-active > a i {
    color: #fff !important;
}


.main-menu.menu-light.expanded .navigation > li.nav-item.open > a i, .main-menu.menu-light.expanded .navigation > li.nav-item.sidebar-group-active > a i {
    color: #389d25 !important;
}

.main-menu.menu-light .navigation {
    background: transparent !important;
    padding-top: 10px;
}

.scroll-top.btn-primary {
    background: #fab42e !important;
}

.main-menu.menu-light .navigation .navigation-header {
    color: #fff !important;
}

.main-menu .main-menu-content {
    background: #1b932c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to LEFT, #0d8f2f, #76b219); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0d8f2f, #76b219); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    margin-bottom: 2.2rem;
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.13);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.expanded .brand-logo {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}



.main-menu .navbar-header .expanded .brand-logo {
    display: none;
}




body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i:not(.menu-livicon) {
    font-size: 1.5rem;
}

.radio label::after {
    position: absolute;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 6px;
    width: 6px;
    background-color: #f59f0c;
    border-radius: 50%;
    left: 5px;
    opacity: 0;
    -webkit-transform: scale(3.6);
    -ms-transform: scale(3.6);
    transform: scale(3.6);
}

.form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #1f952c;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.4em + .94rem + 3.7px);
    padding: .47rem .8rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFF;
    border: 1px solid #cfd4d9;
    border-radius: .867rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-footer, .card-header {
    padding: 1.0rem 0.9rem;
    background-color: transparent;
}

.card-header {
    padding: 1.0rem 0.9rem;
    background-color: #e7e7e7;
}

.card .card-header ~ .card-content .card-body {
    padding-top: 11px;
}

table.dataTable thead > tr > th {
}

.table.dataTable {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-collapse: collapse !important;
    border-spacing: 2px;
    BORDER: 1PX SOLID #E7E7E7;
}

    .table.dataTable tr TD {
        BORDER: 1PX SOLID #E7E7E7;
    }

.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:hover {
    border-radius: .267rem;
    background-color: #11902e !important;
    color: #FFF;
}

.pagination .page-item.first .page-link, .pagination .page-item.last .page-link, .pagination .page-item.next .page-link, .pagination .page-item.previous .page-link {
    color: #11902e;
    padding: .435rem .5rem;
}

.card .card-title {
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 1.1rem;
    PADDING-LEFT: 10PX;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}

.card-header {
    padding: 0.80rem 0.7rem;
    background-color: #E5E5E5;
    BORDER-BOTTOM: 1PX SOLID #e4e2e2;
}

.card .card-title {
    COLOR: #666;
}

.widget-chat .chat-content .chat-body .chat-message {
    background: #11902e;
}



.table.dataTable tfoot {
    display: none;
}

.table.dataTable thead .sorting:after, .table.dataTable thead .sorting:before, .table.dataTable thead .sorting_asc:after, .table.dataTable thead .sorting_asc:before, .table.dataTable thead .sorting_desc:after, .table.dataTable thead .sorting_desc:before, .table.dataTable thead .sorting_desc_disabled:after, .table.dataTable thead .sorting_desc_disabled:before {
    font-family: boxicons;
    color: #666;
}

.bg-success {
    background-color: #19932d !important;
}


.alert.alert-danger {
    background: #ca2940 !important;
    color: #FFF !important;
    box-shadow: 0 3px 8px 0 rgba(255,91,92,.4);
    border: none;
}

.bg-rgba-success.alert, .bg-rgba-success.alert.alert-dismissible .close {
    color: #1c942c;
}

select2-container--classic.select2-container--open .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #18922c !important;
    outline: 0;
}

.select2-results__option[aria-selected] {
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    padding-left: 17px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fdac41;
    color: 000;
}

.form-control, .select2-container {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .12);
    box-sizing: border-box;
}

.card {
    margin-bottom: 2.2rem;
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.03) !important;
    -webkit-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

.btn-warning {
    border-color: #f7951c !important;
    background-color: #f7951c !important;
    color: #FFF;
}

.form-control, .select2-container {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .12);
    box-sizing: border-box;
    border-radius: .867rem !important;
}

    .form-control, .select2-container * {
        border-radius: .867rem !important;
        outline: 0px;
    }

.bgnewx {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #f4f4f4;
}

label {
    color: #475F7B;
    font-size: .85rem;
    font-weight: 800;
    padding-bottom: 0.2rem;
}

.w100 {
    width: 100%;
}

.contentdivindei {
    margin: 10px;
}

.contentdivindei {
    margin: 4px;
    margin-top: -19px;
    border: 1px solid #e7e7e7;
    padding: 16px 18px;
    border-radius: 0px 0px 9px 9px;
    border-top: 0px;
}

.table td, .table th {
    padding: 0.75rem 2rem;
}

.breadcrumb-item.active {
    color: #FDAC41;
}

.table td {
    padding: 0.5rem 2rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF;
    background-color: #0d8f2f;
    border-color: transparent;
}

table.dataTable thead > tr > th.sorting {
    text-align: center;
}

.cssstyle.nav.nav-tabs .nav-item .nav-link.active {
}

.cssstyle.nav-tabs .nav-item .nav-link.active {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    color: #FFF;
    background-color: #666;
}



td.details-control::after {
    content: "\eb12";
    font-family: boxicons !important;
    cursor: pointer;
    color: #f18201;
    font-size: 16px;
}

tr.shown td.details-control::after {
    content: "\eaf0";
    font-family: boxicons !important;
    cursor: pointer;
    color: #f18201;
    font-size: 16px;
}

.table.dataTable thead .sorting:after, .table.dataTable thead .sorting:before, .table.dataTable thead .sorting_asc:after, .table.dataTable thead .sorting_asc:before, .table.dataTable thead .sorting_desc:after, .table.dataTable thead .sorting_desc:before {
    top: 0px;
}

#example_wrapper .form-control, .select2-container * {
    border-radius: .567rem !important;
    outline: 0px;
}


.newtablenew td a .badge-circle {
    text-align: center;
    line-height: 35px;
}

.newtablenew td a .red {
    background: #FF5B5C !important;
}

.smtext {
    font-weight: normal;
}

.infoback {
    background: #e7e7e7;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    /* border: 1px solid #f7f7f7; */
    color: #666;
    border-radius: 10px;
    border-radius: 29px 0px 10px;
    box-shadow: -8px 7px 10px 0 rgba(25,42,70,.02) !important;
}

.textindenew {
    font-size: 0.95em;
    line-height: 1.2;
    border: 1px solid #f0f0f0;
    margin-top: -8px;
    background: #fff;
    color: #666;
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.03) !important;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    border-radius: 10px 0px 30px 0px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 11px 4px;
    min-height: 40px;
    padding-left: 30px;
}

.newboxxd [class*='col-'] {
    padding: 0px 10px !important;
}

.newboxxd .form-group {
    margin-bottom: 0.5rem;
}

.newboxxd p {
    margin-bottom: 0.6rem;
}

.textcenterx {
    padding-left: 0px;
    font-size: 0.95em;
    color: #f0a141;
    text-align: center;
    justify-content: center;
}

.textcenterx2 {
    font-size: 0.95em;
    color: #666;
    text-align: center;
    font-size: 0.95em;
    color: #666;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
}

.mbottom {
    margin-bottom: 0.5rem;
}

.infoback2 {
    color: #fff;
    background: #fab42e;
}

    .infoback2 .card-title {
        color: #fff;
    }

html body.navbar-sticky .app-content .content-wrapper {
    padding: 1.8rem 2.2rem 0;
    margin-top: 3rem;
}

.infoback2 {
    padding: 1.1rem 1.7rem;
}

.card .card-title {
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 1.0rem;
    PADDING-LEFT: 10PX;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}

.infoback2 {
    padding: 0.8rem 1.7rem;
}

.mbottom .card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem 1.7rem;
}

.infoback2 {
    padding: 0.8rem 1.7rem !important;
}

.mbottom .card-header {
    padding-bottom: 0.8rem !important;
}

html body .content .content-wrapper .content-header-title {
    color: #475F7B;
    margin-right: 1rem;
    font-size: 1.2rem;
    border-right: 1px solid #828D99;
}

.btnsmall .btn {
    font-size: 0.88rem;
    font-weight: 600;
}


.infoback3 {
    color: #fff;
    background: #707070;
}

    .infoback3 .card-title {
        color: #fff;
    }

.infoback5 {
    color: #fff;
    background: #5A8DEE;
}

.infoback5 {
    color: #fff;
    background: #5A8DEE;
}

    .infoback5 .card-title {
        color: #fff;
    }

.infoback8 {
    color: #fff;
    background: #666;
}

    .infoback8 .card-title {
        color: #fff;
    }

.infoback9 {
    color: #fff;
    background-color: #FF5B5C !important;
}

    .infoback9 .card-title {
        color: #fff;
    }

.infoback91 {
    color: #fff;
    background-color: #62bb36 !important;
}

    .infoback91 .card-title {
        color: #fff;
    }

.infoback92 {
    color: #fff;
    background-color: #35528a !important;
}

    .infoback92 .card-title {
        color: #fff;
    }






.main-menu .main-menu-content {
    background-image: url('../../../app-assets/images/bgmenu.jpg');
    background-position: bottom center;
    background-color: #002e00;
    background-repeat: no-repeat;
}

body.vertical-layout.vertical-menu-modern .main-menu {
    border-right: 1px solid #DFE3E7;
    background: #003002 !important;
}

.main-menu .main-menu-content {
    height: calc(100% - 0rem) !important;
    position: relative;
}

html .pace .pace-progress {
    background: #fdac41 !important;
}

.main-menu.menu-light .navigation > li.nav-item > a i {
    color: #11F40A !important;
}

.dhslogo {
    width: 82px !important;
    margin-top: -1px !important;
    margin-left: 40% !important;
}

.main-menu.menu-light .navigation > li {
    margin: 0px 0.2rem;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}




.form-control {
    display: block;
    width: 100%;
    height: calc(1.4em + .94rem + 3.7px);
    padding: .47rem .8rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFF !important;
    border: 1px solid #DFE3E7 !important;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type='text']:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1) !important;
}

.form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #1f952c;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
}

.form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
}

.form-control:focus, .select2-container:focus, .select2-container--default .select2-selection--single:focus {
    border-color: #1fa764 !important;
    outline: 0;
    background-color: #fff !important;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
}


.btn-primary {
    border-color: #1f952c !important;
    background-color: #1f952c !important;
    color: #FFF;
}

.btn-primary {
    color: #FFF;
    background-color: #5A8DEE;
    border-color: #5A8DEE;
}

.btn {
    display: inline-block;
    color: #727E8C;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: .467rem 1.5rem;
    font-size: 1rem;
    line-height: 1.6rem;
    border-radius: .267rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


body.vertical-layout.vertical-menu-modern .main-menu {
    border-right: 1px solid #DFE3E7;
    background: #fff;
}

footer.footer a {
    margin-left: .3rem;
    color: #727E8C;
}

a.text-orange {
    color: #ef8903 !important;
    font-weight: bold;
}

.header-navbar .navbar-container ul.nav li i.ficon {
    color: #919191 !important;
}

html body.navbar-sticky .app-content .content-wrapper {
    padding: 1.4rem 0.7rem;
    margin-top: 4rem;
}

.header-navbar .navbar-wrapper {
    width: 100%;
    background: #fff;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(25, 42, 70, 0.13) -14px 1px 5px 0px;
}

header-navbar {
    padding: 0;
    height: 3.0rem;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    z-index: 1000;
}

.main-menu .navbar-header {
    width: 260px;
    height: 3.8rem;
    position: relative;
    padding: .35rem 1.45rem .3rem 1.3rem;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    cursor: pointer;
    z-index: 3;
}

.dropdown-notification {
    padding: 13px 0;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: .9rem 1.25rem .9rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-navbar {
    padding: 0;
    min-height: 4rem;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    z-index: 1000;
    height: 2.0rem;
}

.btn-primary {
    border-color: #1f952c !important;
    background-color: #1f952c !important;
    color: #FFF !important;
}

a {
    color: #1f952c;
    background-color: transparent;
}

img.defaultimage {
    width: 32px;
    height: 32px;
}

img.defaultimage {
    width: 32px;
    height: 32px;
}

.defaultimagelighttheme {
    display: none;
}

img.defaultimage2 {
    width: 27px;
    height: 27px;
}

main-menu.menu-light .navigation li a {
    padding: 4px 10px 0px 30px !important;
}

.main-menu.menu-light .navigation li a {
    font-size: 0.85rem;
}

main-menu.menu-light .navigation > li {
    margin: 0px 0.2rem 0rem 0.1rem !important;
}

main-menu.menu-light .navigation > li {
    margin: 0px 0.2rem 0rem 0.1rem !important;
}


.main-menu.menu-light .navigation > li.nav-item:not(.has-sub) a {
    padding: 4px 12px;
}

.main-menu.menu-light .navigation li.mleftadd a {
    padding: 6px 5px !important;
}

.main-menu.menu-light .navigation li a {
    padding: 4px 10px 0px 30px !important;
}

.main-menu.menu-light .navigation li a {
    padding: 10px 8px 4px 26px !important;
}

.main-menu.menu-light .navigation li.mleftadd a span {
    font-weight: bold;
    font-size: 0.96rem !important;
    font-weight: 900 !important;
}

.main-menu.menu-light .navigation > li.nav-item > a i {
    color: #ffffff !important;
}

a.bgcolorx {
    color: #fff;
    text-align: center;
    background: #1b932c;
    background: -webkit-linear-gradient(to LEFT, #0d8f2f, #76b219);
    background: linear-gradient(to left, #0d8f2f, #76b219);
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    display: block;
    position: absolute;
    font-size: 0.85rem;
    margin-top: 18px;
    align-items: center;
    justify-content: center;
}

.NeedSection, .TwitterSection {
    color: #818181;
}

.trendsSection {
    font-size: 0.8em;
    margin-left: -6px;
}

.trendsSection {
    height: 188px;
    overflow: hidden;
}

img.bupaImg {
    height: auto;
    margin-right: 12px;
    margin-left: 22px;
    width: 54px;
    max-width: 55px;
}

.NeedSection ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.bgwhi .needDiv, .bgwhi .twitterDiv {
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.10);
}

.bgwhi .needDiv, .bgwhi .twitterDiv {
    background: #fff;
    height: 115px !important;
    margin-top: 8px;
}

.TwitterSection p {
    font-size: 11px;
    line-height: .8rem;
    margin-bottom: 0rem;
    height: 25px;
    padding: 2px 17px;
    background: #fff;
    margin-top: 2px;
}

.TwitterSection .swiper-parallax .swiper-slide {
    background: #fff;
}

.TwitterSection a {
    text-decoration: none;
    color: #0FADEA;
    font-size: 10px;
    display: block;
    padding-right: 9px;
    margin-top: 2px;
}

.TwitterSection a {
    text-decoration: none;
    color: #0FADEA;
    font-size: 10px;
    display: block;
}

.NeedSection .need-header, .TwitterSection .twitter-header {
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
}

.NeedSection li {
    list-style: none;
    display: inline-block;
    margin: 0px 3px;
}

.need-body img {
    width: 26px;
}

.card-header:first-child {
    border-radius: calc(.267rem - 0px) calc(.267rem - 0px) 0 0;
}

.trendsSection .card-header {
    background-color: white;
    padding: 0.4rem 0.7rem;
}

trendsSection .card-body {
    padding: 0.2rem 1.0rem 0.5rem .2rem;
}

.trendsSection .card-body {
    padding: 0rem 1.0rem .2rem;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.7rem;
}

.heightdivscoll {
    height: 132px;
    overflow: hidden;
}

.TwitterSection p {
    font-size: 11px;
    line-height: .8rem;
    margin-bottom: 0rem;
    height: 25px;
    padding: 2px 17px;
    background: #fff;
    margin-top: 2px;
}

.NeedSection .need-body, .TwitterSection .twitter-body {
    padding: 15px 0px !important;
}

.trendsSection .media-body a {
    text-decoration: none;
    color: #818181;
}

.NeedSection img, .TwitterSection img {
    width: 20px;
}

.TwitterSection p i {
    font-size: 8px;
    color: #0FADEA;
}

.newpaginations {
    display: none;
}

.card.bg-authentication {
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
    border-radius: 5px 120px 5px 120px;
    background-color: rgba(255,255,255,0.8);
    margin: 14px;
    width: 90%;
}

.newfooter {
    margin-top: 10px;
    margin-left: 0px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

a.text-orange {
    color: #ef8903 !important;
    font-weight: bold;
}

.newfooter * {
    font-size: 0.8rem;
}

.newfooter {
    margin-top: 10px;
    margin-left: 0px !important;
}

.NeedSection img, .TwitterSection img {
    width: 20px;
}

TwitterSection a {
    text-decoration: none;
    color: #0FADEA;
    font-size: 10px;
    display: block;
    padding-right: 9px;
    margin-top: 2px;
}

.trendsSection a i {
    position: relative;
    float: right;
    color: #a0a7af;
    top: 0px;
    font-size: 12px;
    color: #EC8B0C;
}

.trendsSection .media {
    margin-bottom: 0px;
    margin-top: 5px;
}

.trendsSection .card-body {
    padding: 0.2rem 1.0rem 0.5rem .2rem;
}

.tooltip-inner {
    background-color: #f00;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f00 !important; /* Red */
}

.tooltip.right .tooltip-arrow {
    border-right-color: #f00 !important; /* Red */
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f00 !important; /* Red */
}

.tooltip.left .tooltip-arrow {
    border-left-color: #f00 !important; /* Red */
}

.tooltip-light .tooltip-inner {
}

.swiper-container .swiper-shadow {
    box-shadow: 2px 8px 10px 0 rgba(25,42,70,.13) !important
}

body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > [class*=" flaticon-"]:before {
    margin-right: 0.6rem !important;
    float: left;
    font-size: 25px;
}

.main-menu.menu-light .navigation li a {
    padding: 5px 8px 1px 26px !important;
}

p.newcss {
    margin-top: -15px !important;
    font-size: 18px;
}

.contdivnewx span.bx {
    font-size: 1.3rem !important;
    padding-right: 10px;
    color: #0d8f2f;
}

.contdivnewx .sizemt {
    margin-top: 40px !important;
    padding: 15px 29px !important;
    border-radius: 1rem !important;
    margin-left: 0px !important;
}

    .contdivnewx .sizemt:hover {
        background: #f59f0c;
        background: #f59f0c !important;
    }

.cpold {
    color: #666;
}

.langDiv span {
    color: #f7951c;
    position: relative;
    left: -40px;
    z-index: 5;
    display: inline-block;
}

.langDiv input {
    color: transparent;
    position: relative;
    z-index: 6;
    width: 50px;
    background: transparent;
    border: 0;
}

    .langDiv input.EngLang {
        left: 25px;
    }

.langDiv span.Engspan {
    left: -12px;
    color: #f7951c;
}

.langDiv span.Arabicspan {
    color: #888888;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.langDiv span.Arabicspan:hover {
    color: #f7951c;
}

.langDiv span.Engspan:hover {
    color: #f7951c;
}

.LangLayout {
    position: absolute;
    top: 4px;
    z-index: 1000;
    margin-left: 15px;
    margin-right: 15px;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > .HomeIcon {
    padding: 5px 8px 1px 19px !important;
}

.langDiv2 span {
    position: absolute;
    top: 22px;
    z-index: 0;
    width: 100%;
    display: block;
    padding: 12px 20px;
}

.langDiv2 .ArabicLang2:hover ~ .Arabicspan2, .langDiv2 .EngLang2:hover ~ .Engspan2 {
    background-color: #d3d3d3a6;
}

.langDiv2 .Arabicspan2 {
    top: 60px;
}

.langDiv2 input {
    position: relative;
    z-index: 1;
    background-color: transparent;
    opacity: 0;
}

.LangLayout2 {
    position: absolute;
    top: 10px;
    z-index: 1000;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
}

    .LangLayout2 button {
        background-color: transparent !important;
        position: fixed;
    }

        .LangLayout2 button i {
            margin-right: 6px;
            margin-left: 6px;
            top: 0px;
        }


@media (max-width: 1199px) {
    .LangLayout2 {
        margin-left: 0px;
        margin-right: 0px;
        left: 44px;
    }
}

@media (max-width: 477px) {
    .LangLayout2 {
        left: 53px;
        top: 15px;
    }

        .LangLayout2 .selected-language {
            display: none;
        }

        .LangLayout2 button {
            padding-right: 0px;
            padding-left: 0px;
        }

        .LangLayout2 .dropdown-toggle::after {
            display: none;
        }
}

@media (max-width: 575px) {
    .card.bg-authentication {
        width: 100%;
    }

    .AlignCenter {
        margin: 0 auto;
    }

    #auth-login .card-body, #auth-login .card-header {
        padding-right: 0.9rem;
        padding-left: 0.9rem;
    }
}
/*.toast .toast-header .close {
    padding: 0rem .25rem 0.15rem;
}*/

/*.bgsucesstoaster {
    background-color: #23bd70 !important;
}

.bgdangertoaster {
    background-color: #fb5c5f  !important;
}*/
/*.sucesscolor {
    color: #23bd70;
}
.dangercolor {
    color: #fb5c5f !important;
}*/

/*.toast-body.sucessiconn:before {
    content: "\ea45" !important;
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #23bd70;
    display: block;
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 12px;
}

.toast-body.erroriconn:before {
    content: "\ebea" !important;
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #fb5c5f;
    display: block;
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 12px;
}*/
.langDiv2 {
    margin-top: 0rem !important;
    position: relative;
    top: 0px;
}

    .langDiv2 span {
        top: 0px !important;
    }

    .langDiv2 .Arabicspan2 {
        top: 43px !important;
    }
