
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*hospitals*@
<div class="row">
    <div class="form-group">
        @Html.Label("", "Fk_Package_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Fk_Hospital_ID", null, htmlAttributes: new { @class = "form-control", @id = "Fk_Hospital_ID" })
            @Html.ValidationMessage("", "", new { @class = "text-danger" })
        </div>
    </div>
</div>
@*Tests*@
<div class="row">
    <label>Select Tests</label>
    <div class="form-group">
        <table class="table table-sm" id="testsTable">
            <thead>
                <tr style="display:none;">
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">PASSPORT</th>
                    <th scope="col">ID_IQAMA</th>
                    <th scope="col">NATIONALITY</th>
                </tr>
            </thead>
            <tbody id="previewPackagesTable">
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-danger">Remove All</button>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-danger">Add Patient</button>
        </div>
        <div class="form-group col-md-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Import Excel
            </button>
        </div>
    </div>
    <table class="table col-md-6" id="PatientsTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">PASSPORT</th>
                <th scope="col">ID_IQAMA</th>
                <th scope="col">NATIONALITY</th>
                <th scope="col">Gender</th>
                <th scope="col">DOB</th>
                <th scope="col">MOBILE</th>
                <th scope="col">HESN_NO</th>
                <th scope="col">_Case</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="previewTable">
        </tbody>
    </table>
</div>


<!-- Excel Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inpt_ExcelFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="~/Operations/DownloadTemplate">Template</a>
                <button type="button" class="btn btn-success" id="uploadExcel">Import</button>
            </div>
        </div>
    </div>
</div>

<!-- Submit Modal -->
<div class="modal fade" id="SummaryModal" tabindex="-1" aria-labelledby="SummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SummaryModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tests</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="TestsTotal" value="600">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Vat" class="col-sm-2 col-form-label">Vat</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="Vat" value="0">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Total" class="col-sm-2 col-form-label">Total</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="Total">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Cash Amount</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Credit Amount</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success">Credit order</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#SummaryModal" onclick="CalculateAndCreateOrder()">Continue</button>
@section scripts{

    <script>
        $("#PatientsTable").DataTable()
        $("#uploadExcel").on('click', function () {
            let file = $("#inpt_ExcelFile").get(0)
            let form = new FormData();
            form.append("file", file.files[0])
            $.ajax({
                url: '/Operations/UploadFile',
                type: 'Post',
                data: form,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res !== "failed") {
                        $.ajax({
                            url: '/Operations/RenderExcelData?fileName=' + res,
                            type: 'Post',
                            processData: false,
                            contentType: false,
                            success: function (res) {
                                if (res.success) {
                                    let insertedData = JSON.parse(res.Result)
                                    console.log(insertedData)
                                    let row = ""
                                    insertedData?.map(item => {
                                        row += `<tr>
                                                            <td>${item.Name}</td>
                                                            <td>${item.PASSPORT}</td>
                                                            <td>${item.ID_IQAMA}</td>
                                                            <td>${item.NATIONALITY}</td>
                                                            <td>${item.GENDER}</td>
                                                            <td>${item.DOB}</td>
                                                            <td>${item.MOBILE}</td>
                                                            <td>${item.HESN_NO ?? ""}</td>
                                                            <td>${item._CASE}</td>
                                                            <td><button type="button" class="btn btn-danger RemoveRow">Remove</button></td>
                                                        </tr>`
                                    })
                                    $("#PatientsTable").DataTable().clear().destroy();
                                    $("#previewTable").html("")
                                    $("#previewTable").html(row)
                                    $('#PatientsTable').DataTable({
                                        "paging": false,
                                        "ordering": false,
                                        "info": false
                                    })
                                    $(".RemoveRow").on('click', function () {
                                        $(this).closest('tr').remove();
                                    })
                                    $('#PatientsTable > tbody  > tr').each(function (e, r) {
                                        $(this).find("td:eq(0)").html()
                                    });

                                    $("#exampleModal").modal('hide')
                                } else {
                                    alert('Failed to read excel file');
                                }

                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                    }
                },
                error: function (err) {

                }
            })
        })
        $("#Fk_Hospital_ID").on('change', function () {
            $.ajax({
                url: '/Operations/GetHospitalPackages?hospitalID=' + $(this).val(),
                type: 'Get',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        let row = ""
                        row += `<tr>
                                            <td style="display:none;" id="hospitalPackageID">${res.ID}</td>
                                            <td>${res.TestNameEn}</td>
                                            <td>Normal</td>
                                            <td><span id="TestPrice">${res.Price}</span> SAR</td>
                                            <td><button class="btn btn-danger">${'Add Test'}</button></td>
                                        </tr>`
                        $("#testsTable").DataTable().clear().destroy();
                        $("#previewPackagesTable").html("")
                        $("#previewPackagesTable").html(row)
                        $('#testsTable').DataTable()
                    }
                },
                error: function (err) {

                }
            })
        })

        function CalculateAndCreateOrder() {
            let testPrice = Number.parseInt($("#TestPrice").html())
            let total = testPrice * $('#PatientsTable > tbody  > tr').length
            total = isNaN(total) ? 0 : total
            $("#TestsTotal").val(total)
            $("#Total").val(total)
        }

        function CreateOrder() {
            let PatientsList = []
            $('#PatientsTable > tbody  > tr').each(function (e, r) {
                PatientsList.push({
                    Name: $(this).find("td:eq(0)").html(),
                    PASSPORT: $(this).find("td:eq(1)").html(),
                    ID_IQAMA: $(this).find("td:eq(2)").html(),
                    NATIONALITY: $(this).find("td:eq(3)").html(),
                    Gender: $(this).find("td:eq(4)").html(),
                    DOB: $(this).find("td:eq(5)").html(),
                    MOBILE: $(this).find("td:eq(6)").html(),
                    HESN_NO: $(this).find("td:eq(7)").html(),
                    C_Case: $(this).find("td:eq(8)").html(),
                    FK_Hospital_Package_ID: $("#hospitalPackageID").val(),
                    FK_Hospital_ID: $("#Fk_Hospital_ID").val(),
                    Patient_Status: true,
                    Fk_StatusID: 1,
                    FK_Result: 1
                })
            });

        }

    </script>
}
